<h1>New Place</h1>

<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit %>
  </p>

  <% else %>
  You must first <a href="/sessions/new">login or sign up </a> to post.
<% end %>